/HotelReservationSystem/nbproject/private/
/HotelReservationSystem/HotelReservationSystem-ejb/nbproject/private/
/HotelReservationSystemLibrary/nbproject/private/
/HolidayReservationSystemLibrary/nbproject/private/
/HoRSManagementClient/nbproject/private/
/HoRSReservationClient/nbproject/private/
HotelReservationSystem/HotelReservationSystem-ejb/setup/glassfish-resources.xml
